body {
  background: black;
}

* {
}

.top_title {
  color: white;
  padding-top: 100px;
  text-align: center;
  font-size: 4vw;
  font-family: "Libre Barcode 39 Text", cursive;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners li {
  width: calc(100% / 3);
  padding: 0 5px;
  box-sizing: border-box;
}

.top-banner li img {
  max-width: 100%;
  height: auto;
  border: solid 1px #ccc;
  vertical-align: middle;
}

.bar {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.top {
  position: relative;
  width: 100%;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2vw, 25px);
  color: white;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.event {
  padding: 2rem 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.event h1 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 5vw;
  color: white;
}

.about {
  padding: 2rem 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.about h1 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 5vw;
  color: white;
}

img.logo {
  width: 8vw;
  max-width: 150px;
  padding: 20px;
  display: inline-block;
  float: left;
}

img.beast {
  object-fit: contain;
  width: 10vw;
  margin: 0 auto;
  text-align: center;
}

img.inochi {
  object-fit: contain;
  width: 10vw;
  margin: 0 auto;
  text-align: center;
}

img.cdle {
  object-fit: contain;
  width: 10vw;
  margin: 0 auto;
  text-align: center;
}

#beast {
  display: flex;
  margin: 0 auto;
}
#inochi {
  display: flex;
  vertical-align: middle;
}
#cdle {
  display: flex;
  vertical-align: middle;
}
/* .top_title {
  width: 100%;
  overflow: hidden;
}

.top_title h1 {
  font-size: 2em;
  color: #fff;
  animation: flowing 5s linear;
}

@keyframes flowing {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
} */
.top_title {
  font-size: 30px;
  font-weight: bold;
  animation-name: faderight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: flex;
  margin-left: 250px;
}
@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(150px);
  }
}
