body {
  background: black;
}

* {
  margin: 0;
}

.top_text {
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(30% - 0.5em);
}
.glitch {
  font-size: min(2.5vw, 35px);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}
.glitch:before, .glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.glitch:after {
  color: #f0f;
  z-index: -2;
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;

}
.glitch:before {
  color: #0ff;
  z-index: -1;
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@-webkit-keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

.top_title {
  margin: 0;
  color: white;
  padding-top: 100px;
  top: calc(30% - 0.5em);
  font-size: 4vw;
  font-family: "Libre Barcode 39 Text", cursive;
  padding: 5px 50px 50px 50px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.partners li {
  width: calc(100% / 3);
  padding: 0 5px;
  box-sizing: border-box;
  display: inline-block;
}

.partners li a {
  text-align: center;
}

.bar {
  position: fixed;
  top: 0px;
  font-family: "Yantramanav", sans-serif;
  font-size: 15px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  vertical-align: middle;
}

.wrap {
  display: flex;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
}
.slide_menu {
  list-style: none;
  display: flex;
  vertical-align: middle;
  animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} 
.content {
  padding: 20px 5vw;
}

.content_last {
  padding: 20px 1vw 20px 5vw;
}

.content a {
  vertical-align: middle;
  text-align:center;
  text-decoration: none;
  color: rgba(125, 125, 125, 30);
}

.content_last a {
  vertical-align: middle;
  text-align:center;
  text-decoration: none;
  color: rgba(125, 125, 125, 30);
}


.top {
  position: relative;
  min-height: 100vh;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2vw, 25px);
  color: white;
}

.event {
  padding: 2rem 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.event h1 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 4.5vw;
  color: white;
}

.about {
  padding: 0.5rem 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.about h1 {
  padding: 1rem 0;
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 4.5vw;
  color: white;
}

.orgs {
  padding: 1rem 0;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.orgs h2 {
  padding: 1rem 0;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-size: min(3.5vw, 25px);
  color: white;
}

img.logo {
  width: 120px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  float: left;
}

img.beast {
  object-fit: contain;
  width: 10vw;
  margin: 0 auto;
  text-align: center;
}

img.inochi {
  object-fit: contain;
  width: 10vw;
  margin: 0 auto;
  text-align: center;
}

img.cdle {
  object-fit: contain;
  width: 10vw;
  margin: 0 auto;
  text-align: center;
}

img.chest-xray {
  max-width: 500px;
  padding: 20px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.team {
  padding: 2rem 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.team h1 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 4.5vw;
  color: white;
}

.members {
  text-align: center;
  overflow-x: auto;
	white-space: nowrap;
}
@media only screen and (min-device-width: 1000px) {
  .members {
    text-align: center;
    overflow-x: auto;
  	white-space: nowrap;
  }
}
.members::-webkit-scrollbar {
  display: none;
}
.members li {
  box-sizing: border-box;
  display: inline-block;
}

.profile {
  display: inline-block;
  font-size:2vw;
}

img.ren {
  width: 15vw;
  padding: 20px;
  border-radius: 50%
}

img.sana {
  width: 15vw;
  padding: 20px;
  border-radius: 50%
}

img.yui {
  width: 15vw;
  padding: 20px;
  border-radius: 50%
}

img.souta {
  width: 15vw;
  padding: 20px;
  border-radius: 50%
}

img.mana {
  width: 15vw;
  padding: 20px;
  border-radius: 50%
}


.faq {
  padding: 2rem 0;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-size: min(2.8vw, 25px);
  color: white;
}

.faq h1 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 4.5vw;
  color: white;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 50px 0;
  background-color: white;
}

.copyright {
  font-family: "Yantramanav", sans-serif;
  color: black;
}

.contact a {
  font-family: "Yantramanav", sans-serif;
  text-decoration: none;
  color: black;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
